# Artefactos comunes
*.tar.gz
*.log
*.tmp

# Ignorar TODO en auditorias...
auditorias/**/*
# ...EXCEPTO los 4 archivos clave por carpeta:
!auditorias/**/zfs.txt
!auditorias/**/docker_basico.txt
!auditorias/**/pihole.txt
!auditorias/**/red.txt
