# Artefactos comunes
*.tar.gz
*.log
*.tmp

# Ignora TODO bajo auditorias...
auditorias/**
# ...pero permite recorrer directorios y re-incluir archivos clave:
!auditorias/
!auditorias/**/
!auditorias/**/zfs.txt
!auditorias/**/docker_basico.txt
!auditorias/**/pihole.txt
!auditorias/**/red.txt
!auditorias/**/docker_*.txt
